MainSL/Service References/MainSVC/MainService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BlankJournal" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BlankJournal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Users">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsNOS" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNSS" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserLogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Users" nillable="true" type="tns:Users" />
</xs:schema>