MainSL/Service References/MainSVC/MainService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BlankJournal.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BlankJournal.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8095/MainService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailEditFolders" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AvailFoldersList" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="CanCommentTBP" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanDoOper" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanEditTBP" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanEditTBPCurrentFolder" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanEditUsers" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsEditing" type="xs:boolean" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendMailComment" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowRemovedTBP" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfFolder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Folder" nillable="true" type="tns:Folder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFolder" nillable="true" type="tns:ArrayOfFolder" />
  <xs:complexType name="Folder">
    <xs:sequence>
      <xs:element minOccurs="0" name="CanEdit" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ident" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Folder" nillable="true" type="tns:Folder" />
  <xs:complexType name="ArrayOfTBPInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBPInfo" nillable="true" type="tns:TBPInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBPInfo" nillable="true" type="tns:ArrayOfTBPInfo" />
  <xs:complexType name="TBPInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="AuthorPDF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthorWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CanUseTBP" type="xs:boolean" />
      <xs:element minOccurs="0" name="CountActiveComments" type="xs:int" />
      <xs:element minOccurs="0" name="CountOBP" type="xs:int" />
      <xs:element minOccurs="0" name="CountTBP" type="xs:int" />
      <xs:element minOccurs="0" name="DatePDF" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateWord" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EditingTBP" type="xs:boolean" />
      <xs:element minOccurs="0" name="FileInfoPDF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileInfoWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FolderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IDPDFData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDWordData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsLocalSelected" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDFData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="UpdatedPDF" type="xs:boolean" />
      <xs:element minOccurs="0" name="UpdatedWord" type="xs:boolean" />
      <xs:element minOccurs="0" name="WordAfterPDF" type="xs:boolean" />
      <xs:element minOccurs="0" name="WordData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="md5PDF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="md5Word" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBPInfo" nillable="true" type="tns:TBPInfo" />
  <xs:complexType name="ArrayOfJournalRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JournalRecord" nillable="true" type="tns:JournalRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJournalRecord" nillable="true" type="tns:ArrayOfJournalRecord" />
  <xs:complexType name="JournalRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CanCopy" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanUnblock" type="xs:boolean" />
      <xs:element minOccurs="0" name="Closed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountLSO" type="xs:int" />
      <xs:element minOccurs="0" name="CrossDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CrossLSO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DoubleNumber" type="xs:double" />
      <xs:element minOccurs="0" name="EndLSO" type="xs:int" />
      <xs:element minOccurs="0" name="FileInfoWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Finished" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasCrossDate" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasCrossLSO" type="xs:boolean" />
      <xs:element minOccurs="0" name="IDWordData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCurrentYear" type="xs:boolean" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBPComment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartLSO" type="xs:int" />
      <xs:element minOccurs="0" name="Started" type="xs:boolean" />
      <xs:element minOccurs="0" name="TBPID" type="xs:int" />
      <xs:element minOccurs="0" name="TBPNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Task" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WordData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
      <xs:element minOccurs="0" name="Zayav" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isInit" type="xs:boolean" />
      <xs:element minOccurs="0" name="isOBP" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JournalRecord" nillable="true" type="tns:JournalRecord" />
  <xs:complexType name="TBPComment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CanFinish" type="xs:boolean" />
      <xs:element minOccurs="0" name="CommentPerform" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommentText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DataID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DatePerform" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FileInfoData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Finished" type="xs:boolean" />
      <xs:element minOccurs="0" name="Folder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Performer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TBPID" type="xs:int" />
      <xs:element minOccurs="0" name="TBPNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBPComment" nillable="true" type="tns:TBPComment" />
  <xs:complexType name="ArrayOfTBPHistoryRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBPHistoryRecord" nillable="true" type="tns:TBPHistoryRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBPHistoryRecord" nillable="true" type="tns:ArrayOfTBPHistoryRecord" />
  <xs:complexType name="TBPHistoryRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HasNewPDFData" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasNewWordData" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewPDFID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewWordID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrevPDFID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrevWordID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TBPID" type="xs:int" />
      <xs:element minOccurs="0" name="TBPNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBPHistoryRecord" nillable="true" type="tns:TBPHistoryRecord" />
  <xs:complexType name="ArrayOfTBPComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBPComment" nillable="true" type="tns:TBPComment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBPComment" nillable="true" type="tns:ArrayOfTBPComment" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="DataRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DateCreate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FileInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="md5" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataRecord" nillable="true" type="tns:DataRecord" />
</xs:schema>