MainSL/Service References/MainSVC/MainService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:8095/MainService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:8095/MainService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8095/MainService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BlankJournal.Models" />
      <xsd:import schemaLocation="http://localhost:8095/MainService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BlankJournal" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MainService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="MainService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="GetUser" />
  </wsdl:message>
  <wsdl:message name="MainService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_GetAllFolders_InputMessage">
    <wsdl:part name="parameters" element="GetAllFolders" />
  </wsdl:message>
  <wsdl:message name="MainService_GetAllFolders_OutputMessage">
    <wsdl:part name="parameters" element="GetAllFoldersResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_GetTBPBlanksByFolder_InputMessage">
    <wsdl:part name="parameters" element="GetTBPBlanksByFolder" />
  </wsdl:message>
  <wsdl:message name="MainService_GetTBPBlanksByFolder_OutputMessage">
    <wsdl:part name="parameters" element="GetTBPBlanksByFolderResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_GetJournalBP_InputMessage">
    <wsdl:part name="parameters" element="GetJournalBP" />
  </wsdl:message>
  <wsdl:message name="MainService_GetJournalBP_OutputMessage">
    <wsdl:part name="parameters" element="GetJournalBPResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_CreateTBP_InputMessage">
    <wsdl:part name="parameters" element="CreateTBP" />
  </wsdl:message>
  <wsdl:message name="MainService_CreateTBP_OutputMessage">
    <wsdl:part name="parameters" element="CreateTBPResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_InitTBP_InputMessage">
    <wsdl:part name="parameters" element="InitTBP" />
  </wsdl:message>
  <wsdl:message name="MainService_InitTBP_OutputMessage">
    <wsdl:part name="parameters" element="InitTBPResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_InitOBP_InputMessage">
    <wsdl:part name="parameters" element="InitOBP" />
  </wsdl:message>
  <wsdl:message name="MainService_InitOBP_OutputMessage">
    <wsdl:part name="parameters" element="InitOBPResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_getHistory_InputMessage">
    <wsdl:part name="parameters" element="getHistory" />
  </wsdl:message>
  <wsdl:message name="MainService_getHistory_OutputMessage">
    <wsdl:part name="parameters" element="getHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_CreateBP_InputMessage">
    <wsdl:part name="parameters" element="CreateBP" />
  </wsdl:message>
  <wsdl:message name="MainService_CreateBP_OutputMessage">
    <wsdl:part name="parameters" element="CreateBPResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_FinishBP_InputMessage">
    <wsdl:part name="parameters" element="FinishBP" />
  </wsdl:message>
  <wsdl:message name="MainService_FinishBP_OutputMessage">
    <wsdl:part name="parameters" element="FinishBPResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_CreateCommentTBP_InputMessage">
    <wsdl:part name="parameters" element="CreateCommentTBP" />
  </wsdl:message>
  <wsdl:message name="MainService_CreateCommentTBP_OutputMessage">
    <wsdl:part name="parameters" element="CreateCommentTBPResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_FinishCommentTBP_InputMessage">
    <wsdl:part name="parameters" element="FinishCommentTBP" />
  </wsdl:message>
  <wsdl:message name="MainService_FinishCommentTBP_OutputMessage">
    <wsdl:part name="parameters" element="FinishCommentTBPResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_GetCommentsList_InputMessage">
    <wsdl:part name="parameters" element="GetCommentsList" />
  </wsdl:message>
  <wsdl:message name="MainService_GetCommentsList_OutputMessage">
    <wsdl:part name="parameters" element="GetCommentsListResponse" />
  </wsdl:message>
  <wsdl:portType name="MainService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:MainService/DoWork" message="MainService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/DoWorkResponse" message="MainService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="urn:MainService/GetUser" message="MainService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/GetUserResponse" message="MainService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFolders">
      <wsdl:input wsaw:Action="urn:MainService/GetAllFolders" message="MainService_GetAllFolders_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/GetAllFoldersResponse" message="MainService_GetAllFolders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTBPBlanksByFolder">
      <wsdl:input wsaw:Action="urn:MainService/GetTBPBlanksByFolder" message="MainService_GetTBPBlanksByFolder_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/GetTBPBlanksByFolderResponse" message="MainService_GetTBPBlanksByFolder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJournalBP">
      <wsdl:input wsaw:Action="urn:MainService/GetJournalBP" message="MainService_GetJournalBP_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/GetJournalBPResponse" message="MainService_GetJournalBP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTBP">
      <wsdl:input wsaw:Action="urn:MainService/CreateTBP" message="MainService_CreateTBP_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/CreateTBPResponse" message="MainService_CreateTBP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitTBP">
      <wsdl:input wsaw:Action="urn:MainService/InitTBP" message="MainService_InitTBP_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/InitTBPResponse" message="MainService_InitTBP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitOBP">
      <wsdl:input wsaw:Action="urn:MainService/InitOBP" message="MainService_InitOBP_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/InitOBPResponse" message="MainService_InitOBP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHistory">
      <wsdl:input wsaw:Action="urn:MainService/getHistory" message="MainService_getHistory_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/getHistoryResponse" message="MainService_getHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBP">
      <wsdl:input wsaw:Action="urn:MainService/CreateBP" message="MainService_CreateBP_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/CreateBPResponse" message="MainService_CreateBP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinishBP">
      <wsdl:input wsaw:Action="urn:MainService/FinishBP" message="MainService_FinishBP_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/FinishBPResponse" message="MainService_FinishBP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCommentTBP">
      <wsdl:input wsaw:Action="urn:MainService/CreateCommentTBP" message="MainService_CreateCommentTBP_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/CreateCommentTBPResponse" message="MainService_CreateCommentTBP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinishCommentTBP">
      <wsdl:input wsaw:Action="urn:MainService/FinishCommentTBP" message="MainService_FinishCommentTBP_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/FinishCommentTBPResponse" message="MainService_FinishCommentTBP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentsList">
      <wsdl:input wsaw:Action="urn:MainService/GetCommentsList" message="MainService_GetCommentsList_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/GetCommentsListResponse" message="MainService_GetCommentsList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>