MainSL/Service References/MainSVC/MainService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BlankJournal" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BlankJournal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReturnMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastOBP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxLSO" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnMessage" nillable="true" type="tns:ReturnMessage" />
</xs:schema>