MainSL/Service References/MainSVC/MainService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8095/MainService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BlankJournal.Models" />
  <xs:import schemaLocation="http://localhost:8095/MainService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BlankJournal" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="GetUserResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFolders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFoldersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="GetAllFoldersResult" nillable="true" type="q2:ArrayOfFolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTBPBlanksByFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTBPBlanksByFolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="GetTBPBlanksByFolderResult" nillable="true" type="q3:ArrayOfTBPInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJournalBP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJournalBPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="GetJournalBPResult" nillable="true" type="q4:ArrayOfJournalRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTBP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="newBlank" nillable="true" type="q5:TBPInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTBPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BlankJournal" minOccurs="0" name="CreateTBPResult" nillable="true" type="q6:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitTBP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="tbp" nillable="true" type="q7:TBPInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitTBPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="InitTBPResult" nillable="true" type="q8:JournalRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitOBP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="tbp" nillable="true" type="q9:TBPInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitOBPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="InitOBPResult" nillable="true" type="q10:JournalRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="tbp" nillable="true" type="q11:TBPInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="getHistoryResult" nillable="true" type="q12:ArrayOfTBPHistoryRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="journal" nillable="true" type="q13:JournalRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BlankJournal" minOccurs="0" name="CreateBPResult" nillable="true" type="q14:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishBP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="journal" nillable="true" type="q15:JournalRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishBPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BlankJournal" minOccurs="0" name="FinishBPResult" nillable="true" type="q16:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCommentTBP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="comment" nillable="true" type="q17:TBPComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCommentTBPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BlankJournal" minOccurs="0" name="CreateCommentTBPResult" nillable="true" type="q18:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishCommentTBP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="comment" nillable="true" type="q19:TBPComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishCommentTBPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BlankJournal" minOccurs="0" name="FinishCommentTBPResult" nillable="true" type="q20:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="GetCommentsListResult" nillable="true" type="q21:ArrayOfTBPComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>