MainSL/Service References/MainSVC/MainService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:8095/MainService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:8095/MainService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8095/MainService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BlankJournal.Models" />
      <xsd:import schemaLocation="http://localhost:8095/MainService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8095/MainService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BlankJournal" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MainService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="MainService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="GetUser" />
  </wsdl:message>
  <wsdl:message name="MainService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_GetAllFolders_InputMessage">
    <wsdl:part name="parameters" element="GetAllFolders" />
  </wsdl:message>
  <wsdl:message name="MainService_GetAllFolders_OutputMessage">
    <wsdl:part name="parameters" element="GetAllFoldersResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_GetTBPBlanksByFolder_InputMessage">
    <wsdl:part name="parameters" element="GetTBPBlanksByFolder" />
  </wsdl:message>
  <wsdl:message name="MainService_GetTBPBlanksByFolder_OutputMessage">
    <wsdl:part name="parameters" element="GetTBPBlanksByFolderResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_GetJournalBP_InputMessage">
    <wsdl:part name="parameters" element="GetJournalBP" />
  </wsdl:message>
  <wsdl:message name="MainService_GetJournalBP_OutputMessage">
    <wsdl:part name="parameters" element="GetJournalBPResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_CreateTBP_InputMessage">
    <wsdl:part name="parameters" element="CreateTBP" />
  </wsdl:message>
  <wsdl:message name="MainService_CreateTBP_OutputMessage">
    <wsdl:part name="parameters" element="CreateTBPResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_InitTBP_InputMessage">
    <wsdl:part name="parameters" element="InitTBP" />
  </wsdl:message>
  <wsdl:message name="MainService_InitTBP_OutputMessage">
    <wsdl:part name="parameters" element="InitTBPResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_InitOBP_InputMessage">
    <wsdl:part name="parameters" element="InitOBP" />
  </wsdl:message>
  <wsdl:message name="MainService_InitOBP_OutputMessage">
    <wsdl:part name="parameters" element="InitOBPResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_InitBPBase_InputMessage">
    <wsdl:part name="parameters" element="InitBPBase" />
  </wsdl:message>
  <wsdl:message name="MainService_InitBPBase_OutputMessage">
    <wsdl:part name="parameters" element="InitBPBaseResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_InitComment_InputMessage">
    <wsdl:part name="parameters" element="InitComment" />
  </wsdl:message>
  <wsdl:message name="MainService_InitComment_OutputMessage">
    <wsdl:part name="parameters" element="InitCommentResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_getHistory_InputMessage">
    <wsdl:part name="parameters" element="getHistory" />
  </wsdl:message>
  <wsdl:message name="MainService_getHistory_OutputMessage">
    <wsdl:part name="parameters" element="getHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_CreateBP_InputMessage">
    <wsdl:part name="parameters" element="CreateBP" />
  </wsdl:message>
  <wsdl:message name="MainService_CreateBP_OutputMessage">
    <wsdl:part name="parameters" element="CreateBPResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_FinishBP_InputMessage">
    <wsdl:part name="parameters" element="FinishBP" />
  </wsdl:message>
  <wsdl:message name="MainService_FinishBP_OutputMessage">
    <wsdl:part name="parameters" element="FinishBPResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_UnblockBP_InputMessage">
    <wsdl:part name="parameters" element="UnblockBP" />
  </wsdl:message>
  <wsdl:message name="MainService_UnblockBP_OutputMessage">
    <wsdl:part name="parameters" element="UnblockBPResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_CreateCommentTBP_InputMessage">
    <wsdl:part name="parameters" element="CreateCommentTBP" />
  </wsdl:message>
  <wsdl:message name="MainService_CreateCommentTBP_OutputMessage">
    <wsdl:part name="parameters" element="CreateCommentTBPResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_FinishCommentTBP_InputMessage">
    <wsdl:part name="parameters" element="FinishCommentTBP" />
  </wsdl:message>
  <wsdl:message name="MainService_FinishCommentTBP_OutputMessage">
    <wsdl:part name="parameters" element="FinishCommentTBPResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_GetCommentsList_InputMessage">
    <wsdl:part name="parameters" element="GetCommentsList" />
  </wsdl:message>
  <wsdl:message name="MainService_GetCommentsList_OutputMessage">
    <wsdl:part name="parameters" element="GetCommentsListResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_getOperationsInfo_InputMessage">
    <wsdl:part name="parameters" element="getOperationsInfo" />
  </wsdl:message>
  <wsdl:message name="MainService_getOperationsInfo_OutputMessage">
    <wsdl:part name="parameters" element="getOperationsInfoResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_getAllUsers_InputMessage">
    <wsdl:part name="parameters" element="getAllUsers" />
  </wsdl:message>
  <wsdl:message name="MainService_getAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="getAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_editUser_InputMessage">
    <wsdl:part name="parameters" element="editUser" />
  </wsdl:message>
  <wsdl:message name="MainService_editUser_OutputMessage">
    <wsdl:part name="parameters" element="editUserResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_deleteUser_InputMessage">
    <wsdl:part name="parameters" element="deleteUser" />
  </wsdl:message>
  <wsdl:message name="MainService_deleteUser_OutputMessage">
    <wsdl:part name="parameters" element="deleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_addFile_InputMessage">
    <wsdl:part name="parameters" element="addFile" />
  </wsdl:message>
  <wsdl:message name="MainService_addFile_OutputMessage">
    <wsdl:part name="parameters" element="addFileResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_removeTBP_InputMessage">
    <wsdl:part name="parameters" element="removeTBP" />
  </wsdl:message>
  <wsdl:message name="MainService_removeTBP_OutputMessage">
    <wsdl:part name="parameters" element="removeTBPResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_removeBP_InputMessage">
    <wsdl:part name="parameters" element="removeBP" />
  </wsdl:message>
  <wsdl:message name="MainService_removeBP_OutputMessage">
    <wsdl:part name="parameters" element="removeBPResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_getDataRecord_InputMessage">
    <wsdl:part name="parameters" element="getDataRecord" />
  </wsdl:message>
  <wsdl:message name="MainService_getDataRecord_OutputMessage">
    <wsdl:part name="parameters" element="getDataRecordResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_updateDataRecord_InputMessage">
    <wsdl:part name="parameters" element="updateDataRecord" />
  </wsdl:message>
  <wsdl:message name="MainService_updateDataRecord_OutputMessage">
    <wsdl:part name="parameters" element="updateDataRecordResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_removeHistoryRecord_InputMessage">
    <wsdl:part name="parameters" element="removeHistoryRecord" />
  </wsdl:message>
  <wsdl:message name="MainService_removeHistoryRecord_OutputMessage">
    <wsdl:part name="parameters" element="removeHistoryRecordResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_LogInfo_InputMessage">
    <wsdl:part name="parameters" element="LogInfo" />
  </wsdl:message>
  <wsdl:message name="MainService_LogInfo_OutputMessage">
    <wsdl:part name="parameters" element="LogInfoResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_getFoldersList_InputMessage">
    <wsdl:part name="parameters" element="getFoldersList" />
  </wsdl:message>
  <wsdl:message name="MainService_getFoldersList_OutputMessage">
    <wsdl:part name="parameters" element="getFoldersListResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_editFolder_InputMessage">
    <wsdl:part name="parameters" element="editFolder" />
  </wsdl:message>
  <wsdl:message name="MainService_editFolder_OutputMessage">
    <wsdl:part name="parameters" element="editFolderResponse" />
  </wsdl:message>
  <wsdl:message name="MainService_removeFolder_InputMessage">
    <wsdl:part name="parameters" element="removeFolder" />
  </wsdl:message>
  <wsdl:message name="MainService_removeFolder_OutputMessage">
    <wsdl:part name="parameters" element="removeFolderResponse" />
  </wsdl:message>
  <wsdl:portType name="MainService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:MainService/DoWork" message="MainService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/DoWorkResponse" message="MainService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="urn:MainService/GetUser" message="MainService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/GetUserResponse" message="MainService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFolders">
      <wsdl:input wsaw:Action="urn:MainService/GetAllFolders" message="MainService_GetAllFolders_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/GetAllFoldersResponse" message="MainService_GetAllFolders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTBPBlanksByFolder">
      <wsdl:input wsaw:Action="urn:MainService/GetTBPBlanksByFolder" message="MainService_GetTBPBlanksByFolder_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/GetTBPBlanksByFolderResponse" message="MainService_GetTBPBlanksByFolder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJournalBP">
      <wsdl:input wsaw:Action="urn:MainService/GetJournalBP" message="MainService_GetJournalBP_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/GetJournalBPResponse" message="MainService_GetJournalBP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTBP">
      <wsdl:input wsaw:Action="urn:MainService/CreateTBP" message="MainService_CreateTBP_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/CreateTBPResponse" message="MainService_CreateTBP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitTBP">
      <wsdl:input wsaw:Action="urn:MainService/InitTBP" message="MainService_InitTBP_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/InitTBPResponse" message="MainService_InitTBP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitOBP">
      <wsdl:input wsaw:Action="urn:MainService/InitOBP" message="MainService_InitOBP_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/InitOBPResponse" message="MainService_InitOBP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitBPBase">
      <wsdl:input wsaw:Action="urn:MainService/InitBPBase" message="MainService_InitBPBase_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/InitBPBaseResponse" message="MainService_InitBPBase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InitComment">
      <wsdl:input wsaw:Action="urn:MainService/InitComment" message="MainService_InitComment_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/InitCommentResponse" message="MainService_InitComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHistory">
      <wsdl:input wsaw:Action="urn:MainService/getHistory" message="MainService_getHistory_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/getHistoryResponse" message="MainService_getHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBP">
      <wsdl:input wsaw:Action="urn:MainService/CreateBP" message="MainService_CreateBP_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/CreateBPResponse" message="MainService_CreateBP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinishBP">
      <wsdl:input wsaw:Action="urn:MainService/FinishBP" message="MainService_FinishBP_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/FinishBPResponse" message="MainService_FinishBP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnblockBP">
      <wsdl:input wsaw:Action="urn:MainService/UnblockBP" message="MainService_UnblockBP_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/UnblockBPResponse" message="MainService_UnblockBP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCommentTBP">
      <wsdl:input wsaw:Action="urn:MainService/CreateCommentTBP" message="MainService_CreateCommentTBP_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/CreateCommentTBPResponse" message="MainService_CreateCommentTBP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinishCommentTBP">
      <wsdl:input wsaw:Action="urn:MainService/FinishCommentTBP" message="MainService_FinishCommentTBP_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/FinishCommentTBPResponse" message="MainService_FinishCommentTBP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentsList">
      <wsdl:input wsaw:Action="urn:MainService/GetCommentsList" message="MainService_GetCommentsList_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/GetCommentsListResponse" message="MainService_GetCommentsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOperationsInfo">
      <wsdl:input wsaw:Action="urn:MainService/getOperationsInfo" message="MainService_getOperationsInfo_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/getOperationsInfoResponse" message="MainService_getOperationsInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <wsdl:input wsaw:Action="urn:MainService/getAllUsers" message="MainService_getAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/getAllUsersResponse" message="MainService_getAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editUser">
      <wsdl:input wsaw:Action="urn:MainService/editUser" message="MainService_editUser_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/editUserResponse" message="MainService_editUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input wsaw:Action="urn:MainService/deleteUser" message="MainService_deleteUser_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/deleteUserResponse" message="MainService_deleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addFile">
      <wsdl:input wsaw:Action="urn:MainService/addFile" message="MainService_addFile_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/addFileResponse" message="MainService_addFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeTBP">
      <wsdl:input wsaw:Action="urn:MainService/removeTBP" message="MainService_removeTBP_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/removeTBPResponse" message="MainService_removeTBP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeBP">
      <wsdl:input wsaw:Action="urn:MainService/removeBP" message="MainService_removeBP_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/removeBPResponse" message="MainService_removeBP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDataRecord">
      <wsdl:input wsaw:Action="urn:MainService/getDataRecord" message="MainService_getDataRecord_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/getDataRecordResponse" message="MainService_getDataRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateDataRecord">
      <wsdl:input wsaw:Action="urn:MainService/updateDataRecord" message="MainService_updateDataRecord_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/updateDataRecordResponse" message="MainService_updateDataRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeHistoryRecord">
      <wsdl:input wsaw:Action="urn:MainService/removeHistoryRecord" message="MainService_removeHistoryRecord_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/removeHistoryRecordResponse" message="MainService_removeHistoryRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogInfo">
      <wsdl:input wsaw:Action="urn:MainService/LogInfo" message="MainService_LogInfo_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/LogInfoResponse" message="MainService_LogInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFoldersList">
      <wsdl:input wsaw:Action="urn:MainService/getFoldersList" message="MainService_getFoldersList_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/getFoldersListResponse" message="MainService_getFoldersList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="editFolder">
      <wsdl:input wsaw:Action="urn:MainService/editFolder" message="MainService_editFolder_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/editFolderResponse" message="MainService_editFolder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removeFolder">
      <wsdl:input wsaw:Action="urn:MainService/removeFolder" message="MainService_removeFolder_InputMessage" />
      <wsdl:output wsaw:Action="urn:MainService/removeFolderResponse" message="MainService_removeFolder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>