MainSL/Service References/MainSVC/MainService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8095/MainService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BlankJournal.Models" />
  <xs:import schemaLocation="http://localhost:8095/MainService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BlankJournal" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="GetUserResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFolders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFoldersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="GetAllFoldersResult" nillable="true" type="q2:ArrayOfFolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTBPBlanksByFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folderID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="removed" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTBPBlanksByFolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="GetTBPBlanksByFolderResult" nillable="true" type="q3:ArrayOfTBPInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJournalBP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BlankJournal" minOccurs="0" name="Filter" nillable="true" type="q4:JournalAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJournalBPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BlankJournal" minOccurs="0" name="GetJournalBPResult" nillable="true" type="q5:JournalAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTBP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="newBlank" nillable="true" type="q6:TBPInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTBPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BlankJournal" minOccurs="0" name="CreateTBPResult" nillable="true" type="q7:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitTBP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="tbp" nillable="true" type="q8:TBPInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitTBPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="InitTBPResult" nillable="true" type="q9:JournalRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitOBP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="tbp" nillable="true" type="q10:TBPInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitOBPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="InitOBPResult" nillable="true" type="q11:JournalRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="tbp" nillable="true" type="q12:TBPInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="InitCommentResult" nillable="true" type="q13:TBPComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="tbp" nillable="true" type="q14:TBPInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="getHistoryResult" nillable="true" type="q15:ArrayOfTBPHistoryRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="journal" nillable="true" type="q16:JournalRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BlankJournal" minOccurs="0" name="CreateBPResult" nillable="true" type="q17:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishBP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="journal" nillable="true" type="q18:JournalRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishBPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BlankJournal" minOccurs="0" name="FinishBPResult" nillable="true" type="q19:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnblockBP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="journal" nillable="true" type="q20:JournalRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnblockBPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BlankJournal" minOccurs="0" name="UnblockBPResult" nillable="true" type="q21:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCommentTBP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="comment" nillable="true" type="q22:TBPComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCommentTBPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BlankJournal" minOccurs="0" name="CreateCommentTBPResult" nillable="true" type="q23:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishCommentTBP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="comment" nillable="true" type="q24:TBPComment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishCommentTBPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/BlankJournal" minOccurs="0" name="FinishCommentTBPResult" nillable="true" type="q25:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/BlankJournal" minOccurs="0" name="Filter" nillable="true" type="q26:CommentAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/BlankJournal" minOccurs="0" name="GetCommentsListResult" nillable="true" type="q27:CommentAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOperationsInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getOperationsInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/BlankJournal" minOccurs="0" name="getOperationsInfoResult" nillable="true" type="q28:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="getAllUsersResult" nillable="true" type="q29:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="user" nillable="true" type="q30:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/BlankJournal" minOccurs="0" name="editUserResult" nillable="true" type="q31:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="user" nillable="true" type="q32:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/BlankJournal" minOccurs="0" name="deleteUserResult" nillable="true" type="q33:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileInfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="dateLoad" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/BlankJournal" minOccurs="0" name="addFileResult" nillable="true" type="q34:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeTBP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="tbp" nillable="true" type="q35:TBPInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeTBPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/BlankJournal" minOccurs="0" name="removeTBPResult" nillable="true" type="q36:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeBP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="bp" nillable="true" type="q37:JournalRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeBPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/BlankJournal" minOccurs="0" name="removeBPResult" nillable="true" type="q38:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="getDataRecordResult" nillable="true" type="q39:DataRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateDataRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="rec" nillable="true" type="q40:DataRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateDataRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/BlankJournal" minOccurs="0" name="updateDataRecordResult" nillable="true" type="q41:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeHistoryRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="rec" nillable="true" type="q42:TBPHistoryRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeHistoryRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/BlankJournal" minOccurs="0" name="removeHistoryRecordResult" nillable="true" type="q43:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>