MainSL/Service References/MainSVC/MainService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BlankJournal.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BlankJournal.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsNOS" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNSS" type="xs:boolean" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfFolder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Folder" nillable="true" type="tns:Folder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFolder" nillable="true" type="tns:ArrayOfFolder" />
  <xs:complexType name="Folder">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Folder" nillable="true" type="tns:Folder" />
  <xs:complexType name="ArrayOfTBPInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBPInfo" nillable="true" type="tns:TBPInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBPInfo" nillable="true" type="tns:ArrayOfTBPInfo" />
  <xs:complexType name="TBPInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FolderID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PDFData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WordData" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBPInfo" nillable="true" type="tns:TBPInfo" />
  <xs:complexType name="ArrayOfJournalRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JournalRecord" nillable="true" type="tns:JournalRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJournalRecord" nillable="true" type="tns:ArrayOfJournalRecord" />
  <xs:complexType name="JournalRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DoubleNumber" type="xs:double" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TBPNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Task" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isOBP" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JournalRecord" nillable="true" type="tns:JournalRecord" />
</xs:schema>