MainSL/Service References/MainSVC/MainService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BlankJournal" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BlankJournal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8095/MainService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BlankJournal.Models" />
  <xs:complexType name="JournalAnswer">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfJournalRecord" />
      <xs:element minOccurs="0" name="checkCrossData" type="xs:boolean" />
      <xs:element minOccurs="0" name="dateEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dateStart" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tbpID" type="xs:int" />
      <xs:element minOccurs="0" name="tbpInfo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JournalAnswer" nillable="true" type="tns:JournalAnswer" />
  <xs:complexType name="ReturnMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastOBP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxLSO" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element minOccurs="0" name="RezervLSO" type="xs:int" />
      <xs:element minOccurs="0" name="RezervOBP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnMessage" nillable="true" type="tns:ReturnMessage" />
  <xs:complexType name="CommentAnswer">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BlankJournal.Models" minOccurs="0" name="Data" nillable="true" type="q2:ArrayOfTBPComment" />
      <xs:element minOccurs="0" name="TBPNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dateStart" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="onlyActive" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentAnswer" nillable="true" type="tns:CommentAnswer" />
</xs:schema>